---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import frameworkIcons from "@assets/data/projects-icons.json";
import type { FrameworkIcons } from "src/types/projects";

interface Props {
  name: string;
  description: string;
  link: string | undefined;
  frameworks: [FrameworkIcons];
  imageUrl: string;
  smallImageUrl: string;
}
const { name, description, link, frameworks, imageUrl, smallImageUrl } =
  Astro.props;
---

<li class="flex flex-col items-center sm:my-10">
  <a
    class:list={[
      {
        "pointer-events-none": link === undefined,
      },
    ]}
    href={link ?? "#"}
    aria-disabled={link === undefined}
    target="_blank"
  >
    <!-- Desktop image -->
    <Image
      src={imageUrl}
      class="hidden sm:block w-full h-auto rounded-xl aspect-video"
      width={620}
      height={350}
      alt={`Captura de pantalla del proyecto ${name}`}
    />

    <!-- Mobile image -->
    <Image
      src={smallImageUrl}
      class="block sm:hidden w-full h-auto rounded-xl aspect-[9/16]"
      width={488}
      height={868}
      alt={`Captura de pantalla del proyecto ${name}`}
    />
  </a>
  <div
    class="flex max-sm:flex-col-reverse max-sm:space-y-reverse flex-wrap items-center max-sm:space-y-3 sm:space-x-5 mt-5"
  >
    <a
      href={link ?? "#"}
      class:list={[
        {
          "hover:underline": link !== undefined,
          "pointer-events-none": link === undefined,
        },
      ]}
      aria-disabled={link === undefined}
      target="_blank"
    >
      <h3 class="text-4xl font-bold">
        {
          link !== undefined && (
            <Icon name="ph:link-bold" class="w-6 h-6 inline mr-1" />
          )
        }
        {name}
      </h3>
    </a>
    <div class="flex items-center space-x-3">
      {
        frameworks.map((framework) => {
          return (
            <Icon
              name={frameworkIcons[framework]}
              class="w-6 h-6 sm:w-8 sm:h-8"
            />
          );
        })
      }
    </div>
  </div>
  <p>{description}</p>
</li>
